[Unit]
Description= Secure Server Agent for Alpamon
After=network.target syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alpamon
WorkingDirectory=/var/lib/alpamon
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
