[Unit]
Description=%(display_name)s for Alpaca Infra Platform
After=network.target syslog.target

[Service]
Type=simple
ExecStart=%(exec)s
WorkingDirectory=/var/lib/alpamon
Restart=always
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
